node_modules
.next
.DS_Store
.env

# Temporary Expect Scripts & Debug Logs
*.exp
!clean_deploy.exp
!hard_restart_pm2.exp
!deploy_portfolio_only.exp
debug_*
check_*
verify_*
kill_*
temp_*.html
*.log
*.txt
*.py
